@import url(font.css);
@import url(reset.css);
@import url(common.css);

/* header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#header a {
  font-size: 15px;
  color: #ffffff;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 0;
}

@media screen and (min-width: 1280px) {
  .header-inner {
    padding: 0;
  }
}

.logo-wrap {
  width: 99px;
  height: 26px;
  background: url(../images/header/logo-white.svg) no-repeat center / cover;
  flex: none;
}

@media screen and (min-width: 1280px) {
  .logo-wrap {
    width: 129px;
    height: 34px;
  }
}

nav {
  display: none;
}

@media screen and (min-width: 1280px) {
  nav {
    display: flex;
    gap: 0 80px;
  }

  nav > a {
    position: relative;
    padding: 25px 0;
  }

  nav > a::after {
    content: "";
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
  }

  nav > a:hover::after {
    display: block;
  }
}

.header-app-download {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 16px;
  visibility: hidden;
}

.app-download-btn {
  position: relative;
  width: 14px;
  height: 16px;
  flex: none;
  background: url(../images/header/download-white.svg) no-repeat center / cover;
}

.header-app-download:hover .app-download-btn {
  transform: translateY(3px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header-change {
  background-color: #ffffff;
}

#header.header-change {
  border-bottom: 1px solid #d9d9d9;
}

#header.header-change a {
  color: #000000;
}

#header.header-change .logo-wrap {
  background: url(../images/header/logo-green.svg) no-repeat center / cover;
}

#header.header-change nav > a::after {
  background-color: #d9d9d9;
}

#header.header-change .header-app-download > div:nth-child(2) {
  background: url(../images/header/download-black.svg) no-repeat center / cover;
}

#header.header-change .header-app-download {
  visibility: visible;
}

/* main */
main {
  position: relative;
  color: #251327;
}

/* intro */
.intro-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.intro-txt-wrap {
  position: absolute;
  left: 16px;
  bottom: 120px;
}

@media screen and (min-width: 768px) {
  .intro-txt-wrap {
    left: 32px;
    bottom: 200px;
  }
}

@media screen and (min-width: 1280px) {
  .intro-txt-wrap {
    left: 100px;
    bottom: 260px;
  }
}

.intro-txt-wrap > .title-txt {
  font-size: 44px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .intro-txt-wrap > .title-txt {
    font-size: 54px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .intro-br {
    display: none;
  }

  .intro-txt-wrap > .title-txt {
    font-size: 64px;
    margin-bottom: 56px;
  }
}

.intro-txt-wrap > ul {
  display: flex;
  gap: 0 24px;
}

.li-desktop {
  display: none;
}

@media screen and (min-width: 1280px) {
  .li-desktop {
    display: block;
  }

  .li-mobile {
    display: none;
  }
}

.li-mobile > a {
  font-weight: 500;
  color: #ffffff;
  padding: 15px 45px;
  background-color: #00b0ac;
  border-radius: 50px;
}

.li-desktop > a {
  width: 168px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}

.li-desktop > a > img {
  width: 114px;
}

.li-desktop > a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.intro-video-wrap {
  width: 100vw;
  height: 100vh;
}

.intro-video {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro-img {
  height: 100vh;
  object-fit: cover;
}

@media screen and (min-width: 1280px) {
  .intro-video {
    display: block;
  }

  .intro-img {
    display: none;
  }
}

.intro-dim {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
}

.intro-cover {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0;
}

/* project */
.project-wrap {
  display: none;
}

@media screen and (min-width: 1280px) {
  .project-wrap {
    display: block;
    position: relative;
    height: 100vh;
    background-color: #ffffff;
  }
}

.project-wrap .project-wrap-inner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 64px;
}

.project-pin-wrap > p:nth-child(1) {
  margin-bottom: 24px;
}

.project-pin-wrap > p:nth-child(2) {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 100px;
}

.project-move-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-wrap {
  position: relative;
  width: 704px;
  height: 396px;
  overflow: hidden;
}

.panel {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.panel:not(:first-child) {
  opacity: 0;
}

.panel.img01 {
  z-index: auto;
  position: relative;
}

.panel.img01 > iframe {
  position: absolute;
  top: 0;
  left: 0;
}

.panel.img02 {
  z-index: auto;
  background: url(../images/project/pc-img02.jpg) no-repeat center / cover;
}

.panel.img03 {
  z-index: auto;
  background: url(../images/project/pc-img03.jpg) no-repeat center / cover;
}

.project-move-wrap > .txt-wrap {
  position: relative;
  width: 520px;
  height: 100vh;
  overflow: hidden;
}

.panel-txt {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.panel-txt:first-child {
  transform: translateY(50%);
}

.panel-txt:not(:first-child) {
  transform: translateY(100%);
  opacity: 0;
}

.panel-txt > div:nth-child(1) {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 16px;
}

.panel-txt > div:nth-child(2) {
  font-size: 18px;
}

.panel-txt > div:nth-child(3) {
  width: 40px;
  height: 1px;
  background-color: #9a9a9a;
  margin: 40px 0;
}

.panel-txt > div:nth-child(4) {
  font-size: 14px;
  font-weight: 300;
}

.project-wrap-mobile {
  position: relative;
  background-color: #ffffff;
}

@media screen and (min-width: 1280px) {
  .project-wrap-mobile {
    display: none;
  }
}

.project-wrap-mobile-inner > .article-title-txt {
  margin-bottom: 24px;
}

.project-wrap-mobile-inner > .article-sub-txt {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 56px;
}

@media screen and (min-width: 768px) {
  .project-wrap-mobile-inner > .article-sub-txt {
    text-align: left;
    margin-bottom: 80px;
  }
}

.project-mobile-li {
  margin-bottom: 56px;
}

.project-mobile-li:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .project-mobile-li {
    margin-bottom: 80px;
  }
}

.project-mobile-li > div {
  position: relative;
}

.project-mobile-li > .video-img-wrap {
  width: 100%;
  height: 0;
  padding-top: calc(367 / 652 * 100%);
}

.project-mobile-li > .video-img-wrap > img,
.project-mobile-li > .video-img-wrap > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project-mobile-li > .txt-wrap {
  padding: 32px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.project-mobile-li > .txt-wrap > p:nth-of-type(1) {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 16px;
}

.project-mobile-li > .txt-wrap > p:nth-of-type(2) {
  font-size: 18px;
}

.project-mobile-li > .txt-wrap > div {
  width: 40px;
  height: 1px;
  background-color: #9a9a9a;
  margin: 40px 0;
}

.project-mobile-li > .txt-wrap > p:nth-of-type(3) {
  font-size: 14px;
  font-weight: 300;
}

/* process */
.process-wrap {
  background-color: #efefef;
}

.process-ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 56px 0;
}

@media screen and (min-width: 768px) {
  .process-ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 56px 72px;
  }
}

@media screen and (min-width: 1280px) {
  .process-ul {
    grid-template-columns: repeat(4, 1fr);
  }
}

.process-ul > li > img {
  width: 52px;
}

.process-ul > li > .line-wrap {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.process-ul > li > .line-wrap > div:first-child {
  width: calc(100% - 6px);
  height: 1px;
  background-color: rgba(154, 154, 154, 0.5);
}

.process-ul > li > .line-wrap > div:last-child {
  width: 6px;
  height: 6px;
  background-color: rgba(154, 154, 154, 0.5);
  border-radius: 50%;
}

.process-ul > li > .title-txt {
  font-size: 26px;
  font-weight: 700;
  color: #00b0ac;
}

.process-ul > li > .sub-txt {
  font-size: 20px;
  font-weight: 500;
  height: 60px;
  margin: 10px 0 24px 0;
}

.process-ul > li > .txt-content {
  font-weight: 300;
}

/* introduce */
.introduce-ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px 0;
}

@media screen and (min-width: 768px) {
  .introduce-ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .introduce-ul {
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }
}

.introduce-li {
  position: relative;
  overflow: hidden;
}

.introduce-li * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.introduce-li .list-dim {
  position: absolute;
  top: calc(100%);
  width: 100%;
  height: 100%;
  background-color: rgba(1, 110, 108, 0.7);
}

.introduce-li .list-dim:before {
  position: absolute;
  content: "";
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 80px;
  background-image: -webkit-linear-gradient(
    top,
    transparent 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
  background-image: linear-gradient(
    top,
    transparent 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

.introduce-li:hover .list-dim {
  top: 0;
}

.introduce-li:hover .txt-wrap {
  top: 50%;
  transform: translateY(-50%);
}

.introduce-li:hover > img {
  transform: scale(1.2);
}

.introduce-li > .txt-wrap {
  position: absolute;
  top: calc(100% - 50px);
  left: 0;
  width: 100%;
  padding: 0 24px;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
}

.introduce-li > .txt-wrap > .title-txt {
  font-size: 26px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 40px;
}

.introduce-li > .txt-wrap > div {
  display: flex;
  align-items: center;
  gap: 0 6px;
  margin-bottom: 20px;
}

.introduce-li > .txt-wrap > div > img {
  width: 16px;
}

.introduce-li > .txt-wrap > .txt-list {
  line-height: 24px;
}

/* history */
.history-wrap {
  background-color: #efefef;
}

.history-wrap-inner {
  padding-top: 140px;
}

.history-title-txt {
  text-align: left;
}

@media screen and (min-width: 1280px) {
  .history-title-txt {
    text-align: center;
  }
}

.history-content-ul {
  position: relative;
  overflow: hidden;
  padding: 40px 0 80px 0;
}

@media screen and (min-width: 768px) {
  .history-content-ul {
    padding: 40px 0 120px 0;
  }
}

@media screen and (min-width: 1280px) {
  .history-content-ul {
    padding: 160px 0;
  }
}

.history-content-ul.desktop {
  display: none;
}

@media screen and (min-width: 1280px) {
  .history-content-ul.desktop {
    display: block;
  }

  .history-content-ul.mobile {
    display: none;
  }
}

.history-content-ul > .vertical-line {
  width: 1px;
  height: 100%;
  background-color: #dedede;
  position: absolute;
  top: 0;
  left: 16px;
}

@media screen and (min-width: 1280px) {
  .history-content-ul > .vertical-line {
    width: 1px;
    height: 100%;
    background-color: #dedede;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.history-content-li {
  display: flex;
  align-items: baseline;
  gap: 0 32px;
  margin-bottom: 80px;
}

.history-content-li:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .history-content-li {
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .history-content-li {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: baseline;
    margin-bottom: 0;
  }
}

.history-content-li > .empty-div {
  display: none;
}

@media screen and (min-width: 1280px) {
  .history-content-li > .empty-div {
    display: block;
  }
}

.history-content-li > .figure-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 8px;
}

@media screen and (min-width: 1280px) {
  .history-content-li > .figure-wrap {
    margin-left: -17px;
  }
}

.history-content-li > .figure-wrap.right-to-left {
  justify-content: flex-start;
  margin-right: 8px;
}

@media screen and (min-width: 1280px) {
  .history-content-li > .figure-wrap.right-to-left {
    margin-right: 0;
    margin-left: 17px;
  }
}

.history-content-li > .figure-wrap > .circle {
  width: 16px;
  height: 16px;
  background-color: #00b0ac;
  border-radius: 50%;
  z-index: 1;
}

.history-content-li > .figure-wrap > .line {
  display: none;
}

@media screen and (min-width: 1280px) {
  .history-content-li > .figure-wrap > .line {
    display: block;
    width: calc(50% - 16px);
    height: 1px;
    background-color: #dedede;
  }
}

.history-content-li > .txt-wrap {
  width: 100%;
}

.history-content-li > .txt-wrap > div {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.history-content-li > .txt-wrap > ul > li {
  font-size: 15px;
  color: #707070;
  margin-bottom: 16px;
}

.history-content-li > .txt-wrap > ul > li:last-child {
  margin-bottom: 0;
}

.history-content-li > .txt-wrap.right-to-left {
  text-align: right;
}

/* contact */
.contact-wrap {
  max-width: 1920px;
  margin: 0 auto;
}

.contact-wrap-inner {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1280px) {
  .contact-wrap-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0 160px;
  }
}

.contact-img-wrap {
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .contact-img-wrap {
    max-width: 617px;
    flex: none;
  }
}

.contact-txt-wrap {
  text-align: center;
  padding: 56px 58px 80px 58px;
}

@media screen and (min-width: 768px) {
  .contact-txt-wrap {
    text-align: left;
    padding: 62px 16px 120px 16px;
  }
}

@media screen and (min-width: 1280px) {
  .contact-txt-wrap {
    padding: 0;
  }
}

.contact-title-txt {
  margin-bottom: 16px;
}

.contact-sub-txt {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 48px;
}

.go-contact {
  display: inline-block;
  padding: 16px 72px;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  background-color: #00b0ac;
  border-radius: 26px;
}

.go-contact:hover {
  background-color: #009e9b;
}

/* banner */
.banner-wrap-inner {
  background-color: #00b0ac;
  padding: 103px 16px;
  color: #ffffff;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .banner-wrap-inner {
    padding: 125px 0px;
  }
}

.banner-wrap-inner > div:first-child {
  font-size: 24px;
  margin-bottom: 23px;
}

.banner-wrap-inner > div:last-child {
  font-size: 40px;
  font-weight: 500;
  word-break: keep-all;
}

/* footer */
footer {
  background-color: #363636;
  font-size: 15px;
  color: #ffffff;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: flex-end; */
  padding: 56px 0;
}

@media screen and (min-width: 768px) {
  .footer-inner {
    padding: 80px 0px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-inner {
    flex-direction: row;
    padding: 120px 0px;
  }
}

.footer-txt-wrap {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
  padding-bottom: 40px;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .footer-txt-wrap {
    flex-direction: row;
    gap: 0 140px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-txt-wrap {
    flex-direction: row;
    padding: 0;
    border: none;
    margin: 0;
    gap: 0 160px;
  }
}

.footer-txt-inner > p {
  font-weight: 300;
  margin-bottom: 8px;
}

.footer-txt-inner > p:first-child {
  font-weight: 500;
  margin-bottom: 20px;
}

.footer-txt-inner > p:last-child {
  margin-bottom: 0;
}

.footer-txt-inner > p > a {
  color: #ffffff;
}

.mail-line {
  position: relative;
}

.mail-line::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background-color: #ffffff;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.mail-line:hover::before {
  left: 0;
  right: auto;
  width: 100%;
}

.footer-sns-wrap {
  display: flex;
  flex-direction: column;
  gap: 32px 0;
}

@media screen and (min-width: 768px) {
  .footer-sns-wrap {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .footer-sns-wrap {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.footer-sns-wrap > ul {
  display: flex;
  align-items: center;
  gap: 0 32px;
}

@media screen and (min-width: 1280px) {
  .footer-sns-wrap > ul {
    width: 100%;
    justify-content: flex-end;
  }
}

.footer-sns-wrap > ul > li > a > img {
  width: 40px;
}

.footer-sns-wrap > ul > li > a {
  display: block;
  position: relative;
}

.sns-txt {
  opacity: 0;
  visibility: hidden;
  display: block;
  position: absolute;
  left: 50%;
  bottom: 100%;
  padding: 0px 5px;
  margin-bottom: 0px;
  min-width: 48px;
  background-color: rgb(112, 112, 112);
  font-size: 11px;
  color: rgb(248, 248, 248);
  border-radius: 3px;
  line-height: 22px;
  text-align: center;
  transform: translateX(-50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
}

.sns-txt::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  border-width: 6px 5px 5px;
  border-style: solid;
  border-color: rgb(112, 112, 112) transparent transparent;
  border-image: initial;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.footer-sns-wrap > ul > li > a:hover .sns-txt {
  opacity: 1;
  visibility: visible;
  margin-bottom: 10px;
}

/* go top */
.go-top {
  display: none;
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 1000;
}

.go-top a {
  display: block;
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 2px;
  background-color: #707070;
  border: 1px solid #707070;
}

.go-top a::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -7px;
  margin-top: -4px;
  width: 14px;
  height: 8px;
  background: url(../images/go-top.svg) no-repeat center;
}

.go-top a:hover {
  background-color: #f8f8f8;
  color: #000000;
  border: 1px solid #f2f2f2;
}

.go-top a:hover::after {
  background: url(../images/go-top-on.svg) no-repeat center;
}
